.grid-container01 {
    display: grid;
    column-gap: -10px;
    grid-template-columns: auto auto auto;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .grid-item01 {
    background-color: rgba(255, 255, 255, 0.8);
    padding-left: 5px;
    font-size: 30px;
    text-align: center;
  }
  .sub{
      color: blue;
      border: none;
      background-color: white;
  }
  .sign{
      border-color: blue;
      background-color: white;
      height: 30px;
  }
  .blog{
      margin-top: 10px;
  }
  .src{
      height: 10px;
      border-radius: 15px;
      background-color: white;
      border: none;
  }
  .src:hover{
      background-color: rgb(230, 227, 227);
      height: 30px;
  }
 