.grid-container08 {
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto auto;
    margin-top: -50px;
  }
  .grid-item10{
    background-color: rgba(255, 255, 255, 0.8);
    width: 800px;
    height: 500px;
    text-align: center;
    margin-left: 220px;
    margin-top: 40px;
  }
  .featurehead{
    justify-content: center;
    text-align: left;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    margin-left: 10px;
  }
  .paragraph18{
    justify-content: center;
    text-align: left;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 5px;
    padding-left: 10px;
    letter-spacing: 0.00938em;
  }
  .paragraph19{
    justify-content: center;
    text-align: left;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 10px;
    letter-spacing: 0.00938em;
  }
  .paragraph20{
    justify-content: center;
    text-align: left;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 10px;
    letter-spacing: 0.00938em;
  }
  .paragraph21{
    justify-content: center;
    text-align: left;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 10px;
    letter-spacing: 0.00938em;
  }
  .dotted{
      text-align: left;
      justify-content: center;
  }
  .Tom{
    color:#1976d2; 
  }