.grid-container04 {
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto auto;
    margin-top: -30px;
    margin-bottom: 10px;
    position: relative;
  }
  .grid-item04:hover{
      background-color: rgb(240, 245, 245);;
  }
  
  .grid-item04 {
    background-color: rgba(255, 255, 255, 0.8);
    width: 540px;
    height: 200px;
    text-align: center;
    margin-left: 230px;
    margin-top: 40px;
    border: 1px;
    padding: 10px;
    box-shadow: 2px 2px 2px 2px #888888;
    border-radius: 10px;
  }
  .grid-item05:hover{
    background-color: rgb(240, 245, 245);
}
  .grid-item05 {
    background-color: rgba(255, 255, 255, 0.8);
    width: 540px;
    height: 200px;
    text-align: center;
    margin-left: -130px;
    margin-top: 40px;
    border: 1px;
    padding: 10px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px #888888;
    border-radius: 10px;
  }
  .grd1{
      width: 163px;
      height: 218px;
      padding-left: 386px;
      margin-top: -8px;
      border-radius: 10px;
  }
  .grd2{
    width: 163px;
    height: 218px;
    padding-left: 386px;
    margin-top: -8px;
    border-radius: 10px;
}
.frst{
    margin-top: -200px;
    margin-left: 20px;
    text-align: left;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    cursor: pointer;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.75;
    letter-spacing: 0.3px;
}
.date1{
    text-align: left;
    margin-left: 20px;
    margin-top: -5px;
    color: rgba(0, 0, 0, 0.6);
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.75;
    letter-spacing: 0.5px;
    cursor: pointer;
    
}
.content1{
    text-align: left;
    padding-left: 20px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    cursor: pointer;
    color: rgb(48, 48, 48);
    letter-spacing: 0.5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
}
.sec{
    margin-top: -200px;
    margin-left: 20px;
    text-align: left;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    cursor: pointer;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.75;
    letter-spacing: 0.3px;
    cursor: pointer;
    
}
.date2{
    text-align: left;
    margin-left: 20px;
    margin-top: -5px;
    font-size: 15px;
    color: rgb(95, 85, 85);
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.75;
    letter-spacing: 0.5px;
    cursor: pointer;
}
.content2{
    text-align: left;
    padding-left: 20px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    cursor: pointer;
    color: rgb(48, 48, 48);
    letter-spacing: 0.5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    
}
.link1{
    padding-right: 370px;
    color: #1976d2;
    text-decoration: none;
    font-family: "Roboto","Helvetica","Arial",sans-serif;;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.5px;
}
.link2{
    padding-right: 370px;
    color: #1976d2;
    text-decoration: none;
    font-family: "Roboto","Helvetica","Arial",sans-serif;;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.5px;
}