.grid-container09 {
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto auto;
  }
  .grid-item11{
    background-color: rgba(255, 255, 255, 0.8);
    width: 10;
    height: 150px;
    text-align: center;
    margin-left: 600px;
    margin-top: 40px;
    display: block;
  }
  .foothead{
    text-align: center;
    justify-content: center;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
  }
  .paragraph22{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
  }
  .paragraph23{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
  }
  .footlink{
    color: rgba(0, 0, 0, 0.6);
  }