.grid-container06 {
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto auto auto;
    margin-bottom: 10px;
  }
  .grid-item06 {
    background-color: rgba(255, 255, 255, 0.8);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    width: 800px;
    height: 1200px;
    text-align: center;
    margin-left: 220px;
    margin-top: 40px;
  }
  
  .grid-item07 {
    box-shadow: 1.5px 1.5px 1.5px 1.5px #eeeeee;;
    background-color: #eeeeee;
    width: 365px;
    height: 190px;
    text-align: center;
    margin-left: 10px;
    margin-right: 180px;
    margin-top: 40px;
    border-radius: 5px;
  }
  .grid-item08 {
    background-color: rgba(255, 255, 255, 0.8);
    width: 365px;
    height: 300px;
    text-align: left;
    margin-left: -555px;
    margin-right: 10px;
    margin-top: 290px;
  }
  .samplehead01{
    text-align: left;
    justify-content: center;
    margin-left: 10px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.7;
    letter-spacing: 0.5px;
  }
  .hr{
    width: 795px;
    margin-left: 1px;
    margin-top: -35px;
    border-color: rgba(0, 0, 0, 0.12);
  }
  .post{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 38px;
    text-align: left;
    justify-content: center;
    margin-left: 10px;
    margin-top: 25px;
  }
  .date3{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.2px;
    text-align: left;
    justify-content: center;
    margin-left: 10px;
    margin-top: -20px;
    color: rgb(48, 48, 48);
   
  }
  .olive{
    padding-left:10px;
    color: #1976d2;
  }
  .paragraph01{
    justify-content: center;
    text-align: left;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 16px;
    font-weight: 450;
    line-height: 1.5;
    margin-left: 10px;
    letter-spacing: 0.4px;
    color: rgb(48, 48, 48);
  }
  .paragraph02{
    justify-content: center;
    text-align: left;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 16px;
    font-weight: 450;
    line-height: 1.5;
    margin-left: 10px;
    letter-spacing: 0.4px;
    color: rgb(48, 48, 48);
  }
  .paragraph03{
    justify-content: center;
    text-align: left;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 10px;
    letter-spacing: 0.4px;
    color: rgb(48, 48, 48);
  }
  .paragraph04{
    justify-content: center;
    text-align: left;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 10px;
    letter-spacing: 0.4px;
    color: rgb(48, 48, 48);
  }
  .paragraph05{
    justify-content: center;
    text-align: left;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.5px;
    margin-left: 10px;
    margin-top: -5px;
    color: rgb(48, 48, 48);
  }
  .paragraph06{
    justify-content: center;
    text-align: left;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.5px;
    margin-left: 10px;
    color: rgb(48, 48, 48);
  }
  .paragraph07{
    justify-content: center;
    text-align: left;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 10px;
    margin-top: -8px;
    letter-spacing: 0.5px;
    color: rgb(48, 48, 48);
  }
  .paragraph08{
    justify-content: center;
    text-align: left;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.5px;
    margin-left: 10px;
    color: rgb(48, 48, 48);
  }
  .paragraph09{
    justify-content: center;
    text-align: left;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 10px;
    margin-top: -8px;
    letter-spacing: 0.5px;
    color: rgb(48, 48, 48);
  }
  .paragraph10{
    justify-content: center;
    text-align: left;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 10px;
    letter-spacing: 0.00938em;
    color: rgb(48, 48, 48);
  }
  .paragraph11{
    justify-content: center;
    text-align: left;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 10px;
    letter-spacing: 0.00938em;
    color: rgb(48, 48, 48);
  }
  .paragraph12{
    justify-content: center;
    text-align: left;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 20px;
    margin-top: -30px;
    letter-spacing: 0.5px;
    color: rgb(48, 48, 48);
  }
  .samplehead02{
    display: block;
    text-align: left;
    justify-content: center;
    margin-left: 10px;
    margin-top: -10px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0.002px;
  }
  .bullets{
    text-align: left;
    justify-content: center;
    line-height: 1.8;
    letter-spacing: 0.5px;
    color: rgb(48, 48, 48);
    font-family: "Roboto","Helvetica","Arial",sans-serif;
  }

  .numbers{
    text-align: left;
    justify-content: center;
    line-height: 1.8;
    letter-spacing: 0.5px;
    color: rgb(48, 48, 48);
    font-family: "Roboto","Helvetica","Arial",sans-serif;
  }
  .samplehead03{
    text-align: left;
    justify-content: center;
    margin-left: 20px;
    margin-top: 20px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 18px;
    font-weight: 550;
    line-height: 1.6;
    letter-spacing: 0.5px;
  }
  .samplehead04{
    text-align: left;
    justify-content: center;
    margin-left: 10px;
    margin-top: -19px;
    margin-bottom: 5px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 550;
    line-height: 1.6;
    letter-spacing: 0.5px;
    font-size: 18px;
  }
  
  .grid-item08 a{
    text-align: left;
    justify-content: center;
    margin-left: 10px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #1976d2;
    line-height: 1.6;
    letter-spacing: 0.5px;
  }
  .samplehead05{
    text-align: left;
    justify-content: center;
    margin-left: 10px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.5px;
  }
  .icns span{
    color: #1976d2;
    font-size: 23px;
    margin-right: 8px;
  }
   
  .icns{
    font-size: 20px;
  }
  .grid-item09{
    background-color: rgba(255, 255, 255, 0.8);
    width: 800px;
    height: 500px;
    text-align: center;
    margin-left: 220px;
    margin-top: 40px;
  }
  .anotherhead{
    text-align: left;
    justify-content: center;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: 0.5px;
    margin-left: 10px;
    margin-top: 20px;
  }
  .paragraph13{
    justify-content: center;
    text-align: left;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 10px;
    letter-spacing: 0.5px;
    color: rgb(48, 48, 48);
  }
  .paragraph14{
    justify-content: center;
    text-align: left;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 10px;
    letter-spacing: 0.5px;
    color: rgb(48, 48, 48);
  }
  .paragraph15{
    justify-content: center;
    text-align: left;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 10px;
    letter-spacing: 0.5px;
    color: rgb(48, 48, 48);
  }
  .paragraph16{
    justify-content: center;
    text-align: left;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 10px;
    letter-spacing: 0.5px;
    color: rgb(48, 48, 48);
  }
  .paragraph17{
    justify-content: center;
    text-align: left;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 10px;
    letter-spacing: 0.5px;
    color: rgb(48, 48, 48);
  }
  .Matt{
    color: #1976d2;
  }
  .grid-item10{
    background-color: rgba(255, 255, 255, 0.8);
    width: 800px;
    height: 500px;
    text-align: center;
    margin-left: -820px;
    margin-top: 450px;
    margin-bottom: 90PX;
  }
  .featurehead{
    justify-content: center;
    text-align: left;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.235;
    letter-spacing: 0.5px;
    margin-left: 10px;
    margin-top: 20px;
  }
  .paragraph18{
    justify-content: center;
    text-align: left;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 5px;
    margin-top: -5px;
    padding-left: 10px;
    letter-spacing: 0.00938em;
    color: rgb(48, 48, 48);
  }
  .paragraph19{
    justify-content: center;
    text-align: left;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin-left: 10px;
    letter-spacing: 0.5px;
    color: rgb(48, 48, 48);
  }
  .paragraph20{
    justify-content: center;
    text-align: left;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 10px;
    letter-spacing: 0.00938em;
    color: rgb(48, 48, 48);
  }
  .paragraph21{
    justify-content: center;
    text-align: left;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 10px;
    letter-spacing: 0.00938em;
    color: rgb(48, 48, 48);
  }
  .dotted{
    text-align: left;
    justify-content: center;
    color: rgb(48, 48, 48);
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.9;
  }
  .Tom{
    color:#1976d2; 
  }
  